.container {
    padding-top: 1rem;
    max-width: 100vw;
    height: 89vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
@media only screen and (max-width: 600px) {
    .field{
        margin-top: 0.6rem!important;
    }
}
.detail__card {
    display: flex;
    flex-direction: column!important;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.user__info {
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
    min-width: 90%;
    flex-wrap: wrap;
}

.products_container {
    min-width: 80%;
    margin-top: 1rem!important;
    border-top: 2px rgba(153, 153, 153, 0.068) solid;
}

.product_card {
    margin-top: 0.4rem!important;
    display: flex;
    justify-content: space-between;
    min-width: 90%;
    flex-wrap: wrap;
    align-items: center;
    min-height: 5rem;
    border-bottom: 2px rgba(153, 153, 153, 0.377) solid;
}

.product_image {
    height: 50px;
    width: auto;
}
.confirm{
    margin-top: 1rem!important;
    height: 3rem!important;
    font-size: 17px!important;
}
.confirm_container{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.previous__container{
    display: flex;
    flex-direction: column!important;
    align-items: center;
    max-height: 83vh;
    overflow-y: scroll;
}
.purchases{
    display: flex;
    justify-content: flex-start;
    min-width: 95%;
}
.previous__purchases{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: rgba(228, 247, 255, 0.281);
    width: 65%;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.item__purchases{
    display: flex;
    margin-bottom: 0.5rem;
    justify-content: center;
    align-items: center;
}