.container{
    max-width: 100vw;
    min-height: 100vh;
    background-color: #e5e5e5 ;
}
.input{
    display: none!important;
}
.topBar{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    background-color: white;
}
.topBar__title{
    display: flex;
    flex-direction: column;
   
}
.dashboard{
    padding-left: 1rem;
    padding-right: 1rem;
}
.bar__container{
    margin-top: 1.4rem;
    background-color: white;
    height: 60vh;
    border-radius: 8px;
}