.container{
    max-width: 100vw;
    min-height: 100vh;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 0rem;
    background-color: #f2f7f6;
}



.banner{
    
    min-height: auto;
    max-height: 100vh;
}
@media only screen and (max-width: 600px) {
    .banner{
        min-height: auto!important;
        max-height: auto!important;
        margin-bottom: 1.4rem!important;
    }
    .product__card{
        margin: 0rem!important;
        width: 16rem!important;
    }
    .main__text{
        font-size: 30px!important;
    }
    .container{
        padding-left: 1rem!important;
        padding-right: 1rem!important;
    }
    .image{
        max-width: 8rem!important;
        max-height: 8rem!important;
        margin-top: 1rem!important;
        align-self: center!important;
    }
    .image__container{
        display: flex!important;
        justify-content: flex-start!important;
        align-items: center;
        height: 100%!important;
        width: 70%;
        padding: 1rem;
    }
    .card__container{
        display: flex;
        justify-content: center!important;
        align-items: center;
        height: 100%!important;
    }
    .card{
        
        min-height: 100%!important;
        padding: 1.4rem!important;
        min-width: 50%!important;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    }
}
@media only screen and (max-width: 900px) {
    .main__text{
        font-size: 40px!important;
    }
    .container{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .image{
        width: 16rem!important;
        height: 16rem!important;
      
    }
    .image__container{
        display: flex!important;
        justify-content: flex-end!important;
        
    }
    .card__container{
        display: flex;
        justify-content: center!important;
        align-items: center;
        max-height: 30vh;
    }
    .card{
        min-height: 80%!important;;
        min-width: 80%!important;;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    }
}
.image__container{
    display: flex;
    justify-content: center;
}
.image{
    width: 20rem;
    height: 20rem;
}
.card__container{
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.card{
    display: flex;
    justify-content:space-evenly;
    flex-direction: column;
    align-items:center;
    border-radius: 5%;
    height: 50%;
    width: 70%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.price{
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
}
.card__action{
    width: 100%;
    display: flex;
    justify-content: center;
}
.swiper__container{
    border-radius: 1%;
    display: flex;
    margin-top: 0rem;
    max-width: 100vw;
    
    margin-bottom: 2rem;
}
.add__button{
    position: absolute!important;
    z-index: 2!important;
    top: 3%;
    right: 10%;
    background-color: rgba(154, 248, 255, 0.404)!important;
}
.add__button__second{
    position: absolute!important;
    z-index: 2!important;
    top: 9%;
    right: 10%;
    background-color: rgba(154, 248, 255, 0.404)!important;
}
.product__card{
    color: black;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    margin: 0.5rem;
    width: 12rem;
    padding: 1rem;
    min-height: 13rem;
    border: 2px solid rgba(78, 78, 78, 0.13);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 4%;
    display: flex;
    justify-content: center;
    transition: all 0.6s;
}

.product__image__container{
    display: flex;
    justify-content: center;
    width: 12rem;
    border-radius: 5%;
    background-color: rgb(241, 241, 241);
}
.product__image{
    width: 7rem;
    height: 7rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
.product__list{
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.second__product__card{
    color: black;
    text-decoration: none;
    position: relative;
    margin: 0.5rem;
    width: 75%;
    padding: 1rem;
    min-height: 12rem;
    border: 2px solid rgba(78, 78, 78, 0.13);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 4%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: all 0.6s;
}
.second__product__card:hover{
    transform: translateY(-5px);
    box-shadow: rgba(58, 58, 58, 0.281) 0px 8px 20px;
}
